@import url(assets/stylesheets/application.css);
@import url(assets/stylesheets/footer.css);
@import url(assets/stylesheets/sidebar.css);
@import url(assets/stylesheets/search.css);
@import url(assets/stylesheets/user-dropdown.css);
@import url(assets/stylesheets/registration-form.css);
@import url(assets/stylesheets/button.css);
@import url(assets/stylesheets/company-header.css);
@import url(assets/stylesheets/tabledropdown.css);
@import url(assets/stylesheets/iconfont.css);
@import url(assets/stylesheets/companyInfoDisplay.css);
@import url(assets/stylesheets/addrow-form.css);
@import url(assets/stylesheets/addgraph-form.css);

body {
  font-family: "SourceHan", sans-serif;
  background-color: rgb(250, 250, 250);
}

.company-sidebar {
  top: 5vh;
  right: -2.7vw;
  position: relative;
  color: white;
  max-width: 90%;
}

/* temp fix: login card + reg card bg; */
.login-content {
  background-color: white;
}

#registration-popup, #login-popup {
  left: 35vw;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.reg-login-header {
  position: absolute;
  right: 3vw;
  top: 7vh;
}

.btn-login, .btn-signup {
  font-size: 15px;
}

.user-header {
  position: absolute;
  right: 3vw;
  top: 4vh;
  cursor: pointer;
}

.user-header .fa-caret-down {
  color: #89C0EF;
}

#username-display {
  font-size: 20px;
  padding-right: 2px;
}

#username-display:hover {
  color: #56ccf2;
}

.dash-container {
  min-height: 100vh;
  margin: 0;
}

.comp-container {
  width: 250px;
  height: 100vh;
  background-color: #89C0EF;
  position: fixed;
  overflow: hidden;
}

.nav-search {
  width: 100%;
  padding: 35px;
  top: 55px;
}

.search-icon {
  padding: 36px;
  margin-left: 15px;
}

.col-lg-3 {
  padding: 0px;
  max-width: 300px;
}

.row {
  max-width: 100%;
}

.col-lg-8 {
  margin-top: 50px;
  margin-left: 30px;
}

.card {
  max-width: 100%;
}

.card-title {
  margin-bottom: 0;
  padding: 5px;
  color: #5DA9E9;
}

.card-body {
  padding: 0;
}

#mychart {
  height: 100% !important;
  width: 100% !important;
}

.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 27px;
  margin-bottom: 30px;

}


#linechart {
  height: 100% !important;
  width: 100% !important;
}

.graph-card {
  height: 350px;
  width: 350px;
  margin-top: 25px;
  box-shadow: 0px 0px 5px #8AD9F1;
  background-color: rgba(172, 136, 135, 0.3);
}

#right-card{
}

th {
  color: rgb(79, 79, 79);
}

.expand {
  padding: 0 10px;
  margin-top: 3.5px;
  color: rgba(50,50,50, 0.7);
}

.expand:hover{
  color: #5DA9E9;
}

.teaching-winfield {
  display: flex;
  align-items: center;
}

.first-show {
  padding-left: 33px !important;
}

.parent {
  background-color: rgba(0,0,0,.05) !important;
}

.table {
  margin-bottom: 0 !important;
}

.table td {
  color: rgb(79, 79, 79);
}

.children {
  background-color: rgb(250, 250, 250) !important;
}

.question-helper {
  margin-bottom: 0px;
  font-weight: bolder;
}

.question-helper:hover {
  color: #5DA9E9 !important;
}

.i-hate-raymond {
  padding-right: 30;
}

.graph-filler {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(137, 192, 239, 1)
}

.graph-filler:hover {
  background-color: #649ed1;
}

#btn-addgraph {
  padding: 0;

}

.classic-calvin {
  color: rgb(250, 250, 250);
}


/*#left-bottom-card {
  margin-top: 50px;
}*/
/*#bootstrap-overrides .row {
  width: 130%;
}
*/
