@import url(assets/stylesheets/search.css);
@import url(assets/stylesheets/application.css);
@import url(assets/stylesheets/footer.css);
@import url(assets/stylesheets/sidebar.css);
@import url(assets/stylesheets/registration-form.css);
@import url(assets/stylesheets/button.css);
@import url(assets/stylesheets/user-dropdown.css);

.reg-login-header {
  position: absolute;
  right: 3vw;
  top: 7vh;
}

.btn-login, .btn-signup {
  font-size: 15px;
}

.user-header {
  position: absolute;
  color: #89C0EF;
  right: 3vw;
  top: 4vh;
  cursor: pointer;
}

.user-header .fa-caret-down {
  color: #89C0EF;
}

#username-display {
  font-size: 20px;
  padding-right: 2px;
}

#username-display:hover {
  color: #56ccf2;
}

.home-banner {
  justify-content: center;
  align-items: center;
  display: flex;
}

.home-h1 {
  /*color: #3e68cf;*/

  /*darker blue*/
  /*color: #576CA8;*/

  /*red*/
  /*color: #FF715B;*/

  /*warmer blue*/
  /*color: #3066BE;*/

  /*warmest blue*/
  color: #5DA9E9;

  letter-spacing: 0px;
  margin-top: 20vh;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

body {
  font-family: "SourceHan", sans-serif;
  background-color: rgb(250, 250, 250);
  color: #5DA9E9;
}

.container {
  min-height: 100vh;
}

.color-change-hover {
  color: black !important;
  display: block;
  text-decoration: none;
}

.color-change-hover:hover {
  color: #87D9F3;
}

/*.text-white-color {
  color: white;
}*/
