

#addgraph-popup {
  display: none;
  left: 50%;
  top: 50%;
  z-index: 2;
  position: fixed;
  transform: translate( -50%, -50%);
}

.addgraph-submit-btn {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #89C0EF !important;
  border: #89C0EF;
  opacity: 0.8;
}

.addgraph-submit-btn:hover {
  background-color: #89C0EF;
  opacity: 1;
}

.addgraph-cancel-btn {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 60px;
  background-color: #89C0EF;
  border: #89C0EF;
  opacity: 0.8;
}

.addgraph-cancel-btn:hover {
  background-color: #89C0EF;
  opacity: 1;
}

#addgraph-form {
  background: #FFFFFF;
  padding: 20px 8vw 20px 8vw;
/*  margin-left: 10px;
  margin-right: 10px;*/
  border-radius: 2px;
}

#addgraph-form h4 {
  color: #444;
  text-align: center;
  margin-bottom: 30px;
}
