.nice-logo {
  width: 50px;
  height: 50px;
  left: 6%;
  display: block;
  position: fixed;
  top: 4vh;

}

.logo-container {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  margin-top: 5.5vh;
  margin-left: 4%;
}

.sugar {
  color: #4F4F4F;
}
